<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Assets/Bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="Assets/Bootstrap/css/style.css" />
    <link rel="stylesheet" href="Assets/Bootstrap/icons/bootstrap-icons.css" />
    <link rel="icon" href="Assets/icon.ico" />
    <title>Game Traditional</title>
  </head>
  <body>
    <!-- section 1 -->
    <!-- navbar -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
      <a href="#" class="navbar-brand" style="margin-left: 100px"
        ><img
          src="./Assets/logo.png"
          class="img-fluid"
          alt="logo"
          style="width: 50px; height: 50px"
      /></a>
      <button
        class="navbar-toggler me-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto w-50" style="margin-right: 15vw">
          <li class="nav-items">
            <a class="nav-link px-4" href="/">HOME</a>
          </li>
          <li class="nav-items">
            <a class="nav-link px-4" href="#">WORK</a>
          </li>
          <li class="nav-items">
            <a class="nav-link px-4" href="#">CONTACT</a>
          </li>
          <li class="nav-items">
            <a class="nav-link px-4" href="#">ABOUT US</a>
          </li>
          <li class="nav-items">
            <a class="nav-link px-4" href="#">Q&A</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto" style="margin-right: 2vw">
          <li class="nav-items">
            <a class="nav-link" href="/login">LOGIN</a>
          </li>
          <li class="nav-items">
            <a class="nav-link" href="/create">SIGN UP</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- end navbar -->
    <!-- hero title -->
    <div class="main-bg vw-100 vh-100 position-relative">
      <div
        class="position-absolute top-50 start-50 translate-middle text-center main-text"
      >
        <h1 style="overflow: hidden !important">PLAY TRADITIONAL GAME</h1>
        <p class="text-white text-center fs-5">
          Experience now traditional game play
        </p>
        <a class="btn py-2 mt-2 play" href="/game">PLAY NOW</a>
      </div>
      <div
        class="position-absolute bottom-0 start-50 translate-middle-x text-center"
      >
        <a
          id="story-scroll"
          class="nav-link story link-light"
          href="#special"
          type="button"
        >
          <p class="text fs-5">The Story</p>
          <img class="icon" src="Assets/scroll-down.svg" alt="scroll" />
        </a>
      </div>
    </div>
    <!-- end of section 1 -->
    <!-- start ! section 2 -->
    <div
      data-bs-spy="scroll"
      data-bs-target="#story-scroll"
      data-bs-root-margin="0px 0px -40%"
      data-bs-smooth-scroll="true"
      class="scrollspy-example bg-light"
      tabindex="0"
    >
      <div id="special" class="special">
        <div class="row">
          <div
            class="col-lg-3 offset-lg-1 mt-5 text-white text-lg-start text-center"
          >
            <h4 style="overflow: hidden" class="spc">What's so special?</h4>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-3 offset-lg-1 mt-1 text-white text-lg-start text-center"
          >
            <h1 style="overflow: hidden !important">THE GAMES</h1>
          </div>
          <div class="col-lg-7 mt-1">
            <!-- carousel -->
            <div
              id="carouselExampleIndicators"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-indicators">
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="0"
                  class="active"
                  aria-current="true"
                  aria-label="Slide 1"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="1"
                  aria-label="Slide 2"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="2"
                  aria-label="Slide 3"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="3"
                  aria-label="Slide 4"
                ></button>
                <button
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide-to="4"
                  aria-label="Slide 5"
                ></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="assets/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
                <div class="carousel-item">
                  <img
                    src="assets/rockpaperstrategy-1600.jpg"
                    class="d-block w-100"
                    alt="..."
                  />
                </div>
              </div>
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
              >
                <span
                  class="carousel-control-prev-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
              >
                <span
                  class="carousel-control-next-icon"
                  aria-hidden="true"
                ></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
            <!-- end ! carousel -->
          </div>
        </div>
      </div>
    </div>
    <!-- start ! section 3 -->
    <div class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 offset-lg-7 col-md-5 offset-md-7 col-12">
            <h4 class="text-white overflow-hidden" style="margin-top: 25vh">
              What's so special?
            </h4>
            <div>
              <h3
                style="font-size: 4em; overflow: hidden !important"
                class="fw-bold text-white"
              >
                features
              </h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1 offset-lg-7 col-md-1 offset-md-7 col-1">
            <img
              class="text-lg-end img-fluid"
              src="Assets/ellipse.svg"
              alt=""
            />
            <br />
            <div class="line"></div>
          </div>
          <div class="col-lg-4 col-md-4 col-11">
            <h4 style="overflow: hidden; letter-spacing: 3px; color: #f3af34">
              TRADITIONAL GAMES
            </h4>
            <p class="text-white fs-6" style="word-spacing: 5px">
              if you miss your childhood, we provide many traditional games here
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1 offset-lg-7 col-md-1 offset-md-7 col-1">
            <img
              class="img-fluid mb-1"
              src="Assets/ellipse-outline.svg"
              alt="ellipse-outline"
            />
          </div>
          <div class="col-lg-4 col-md-4 col-11">
            <h4
              class="mb-5"
              style="overflow: hidden; letter-spacing: 3px; color: #f3af34"
            >
              GAME SUIT
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-1 offset-lg-7 col-md-1 offset-md-7 col-1">
            <img
              class="img-fluid mb-1"
              src="Assets/ellipse-outline.svg"
              alt="ellipse-outline"
            />
          </div>
          <div class="col-lg-4 col-md-4 col-11">
            <h4
              class="mb-5"
              style="overflow: hidden; letter-spacing: 3px; color: #f3af34"
            >
              TBD
            </h4>
          </div>
        </div>
      </div>
    </div>
    <!-- end ! section 3 FEATURES -->
    <!-- Start ! Section 4 SYSTEM REQ -->
    <div class="sysreq">
      <div class="mx-auto">
        <div class="row">
          <div style="text-align: center; margin-top: 12vh" class="col-12">
            <p class="text-white" style="font-size: 18px">
              Can My Computer Run this game?
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-12 offset-1">
            <h1
              class="lh-1 sysreqTitle"
              style="letter-spacing: 5px; font-size: 5em; overflow: hidden"
            >
              SYSTEM REQUIREMENTS
            </h1>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-2 col-5 offset-1 offset-lg-1"
            style="border: 1px solid white"
          >
            <p class="sysTitle" style="color: #f3af34; font-size: 18px">OS :</p>
            <p class="sysTxt text-white" style="font-size: 12px">
              Windows 7 64-bit only <br />(No OSX support at this time)
            </p>
          </div>
          <div class="col-lg-2 col-5" style="border: 1px solid white">
            <p class="sysTitle" style="color: #f3af34; font-size: 18px">
              PROCESSOR :
            </p>
            <p class="sysTxt text-white" style="font-size: 12px">
              Intel Core 2 Duo @ 2.4 GHZ or <br />
              AMD Athlon X2 @ 2.8 GHZ
            </p>
          </div>
        </div>
        <!-- second row -->
        <div class="row">
          <div
            class="col-lg-2 offset-lg-1 col-5 offset-1"
            style="border: 1px solid white"
          >
            <p class="sysTitle" style="color: #f3af34; font-size: 18px">
              MEMORY :
            </p>
            <p class="sysTxt text-white" style="font-size: 12px">4 GB RAM</p>
          </div>
          <div class="col-lg-2 col-5" style="border: 1px solid white">
            <p class="sysTitle" style="color: #f3af34; font-size: 18px">
              STORAGE :
            </p>
            <p class="sysTxt text-white" style="font-size: 12px">
              8 GB Available Space
            </p>
          </div>
        </div>
        <div class="row">
          <div
            class="col-lg-4 offset-lg-1 col-10 offset-1"
            style="border: 1px solid white"
          >
            <p class="sysTitle" style="color: #f3af34; font-size: 18px">
              GRAPHICS :
            </p>
            <p class="sysTxt text-white" style="font-size: 12px">
              NVIDIA GeForce GTX 660 2GB or <br />
              AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
            </p>
          </div>
        </div>
        <!-- end second row -->
      </div>
    </div>
    <!-- End ! Section 4 SYSTEM REQ -->
    <!-- Start ! Section 5 TOP SCORES -->
    <div class="topScores position-relative">
      <div
        class="position-absolute top-50 start-0 translate-middle-y topTitle"
        style="margin-left: 10vw"
      >
        <h2
          style="
            letter-spacing: 5px;
            font-size: 4em;
            overflow: hidden !important;
          "
          class="text-white"
        >
          TOP SCORES
        </h2>
        <p class="text-white">
          This top score from various games provided on this platform
        </p>
        <button style="background-color: #f3af34" class="btn py-2 px-5 fw-bold">
          see more
        </button>
      </div>
      <!-- Start ! Card 1 -->
      <div class="row">
        <div class="col-lg-4 offset-lg-7 col-12 col-sm-6 offset-sm-1">
          <div
            class="mt-5"
            style="
              border-radius: 10px;
              background-color: rgba(255, 255, 255, 0.08);
            "
            class="myCard;"
          >
            <div class="row position-relative">
              <div class="col-lg-3 col-3">
                <img
                  class="mt-1"
                  style="border-radius: 50%; position: relative; z-index: 1"
                  src="Assets/evan-lahti.jpg"
                  alt=""
                />
                <img
                  class="mt-1"
                  style="
                    border-radius: 50%;
                    position: absolute;
                    top: 5px;
                    left: 20px;
                  "
                  src="Assets/ellipse-orange.png"
                  alt=""
                />
              </div>
              <div class="col-lg-7 col-7 mt-1">
                <p
                  class="lh-1"
                  style="font-size: 24px; color: #f3af34; overflow: hidden"
                >
                  Evan Lahti
                </p>
                <p style="font-size: 16px" class="text-white-50">PC Gamer</p>
              </div>
              <div class="col-lg-2 col-2 mt-1">
                <img
                  style="cursor: pointer"
                  src="Assets/twitter.svg"
                  alt="twt"
                />
              </div>
            </div>
            <div class="row">
              <p class="text-white ms-2">
                “One of my gaming highlights of the year.”
              </p>
            </div>
            <div class="row">
              <p class="text-white-50 ms-2">October 18, 2018</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End ! Card 1 -->
      <!-- Start ! Card 2 -->
      <div class="row">
        <div class="col-lg-4 offset-lg-6 col-12 col-sm-6">
          <div
            class="mt-5"
            style="
              border-radius: 10px;
              background-color: rgba(255, 255, 255, 0.08);
            "
            class="myCard;"
          >
            <div class="row position-relative">
              <div class="col-lg-3 col-3">
                <img
                  class="mt-1"
                  style="
                    border-radius: 50%;
                    position: relative;
                    z-index: 1;
                    width: 70px;
                  "
                  src="Assets/jada-griffin.jpg"
                  alt=""
                />
                <img
                  class="mt-1"
                  style="
                    border-radius: 50%;
                    position: absolute;
                    top: 5px;
                    left: 20px;
                  "
                  src="Assets/ellipse-orange.png"
                  alt=""
                />
              </div>
              <div class="col-lg-7 col-7 mt-1">
                <p
                  class="lh-1"
                  style="font-size: 24px; color: #f3af34; overflow: hidden"
                >
                  Jada Griffin
                </p>
                <p style="font-size: 16px" class="text-white-50">Nerdreactor</p>
              </div>
              <div class="col-lg-2 col-2 mt-1">
                <img
                  style="cursor: pointer"
                  src="Assets/twitter.svg"
                  alt="twt"
                />
              </div>
            </div>
            <div class="row">
              <p class="text-white ms-2">
                “The next big thing in the world of streaming and survival
                games.”
              </p>
            </div>
            <div class="row">
              <p class="text-white-50 ms-2">December 21, 2018</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card 2 -->
      <!-- Start ! Card 3 -->
      <div class="row">
        <div class="col-lg-4 offset-lg-7 col-12 col-sm-6 offset-sm-1">
          <div
            class="mt-5"
            style="
              border-radius: 10px;
              background-color: rgba(255, 255, 255, 0.08);
            "
            class="myCard;"
          >
            <div class="row position-relative">
              <div class="col-lg-3 col-3">
                <img
                  class="mt-1"
                  style="
                    border-radius: 50%;
                    position: relative;
                    z-index: 1;
                    width: 70px;
                  "
                  src="Assets/aaron-williams.jpg"
                  alt=""
                />
                <img
                  class="mt-1"
                  style="
                    border-radius: 50%;
                    position: absolute;
                    top: 5px;
                    left: 20px;
                  "
                  src="Assets/ellipse-orange.png"
                  alt=""
                />
              </div>
              <div class="col-lg-7 col-7 mt-1">
                <p
                  class="lh-1"
                  style="font-size: 24px; color: #f3af34; overflow: hidden"
                >
                  Aaron Williams
                </p>
                <p style="font-size: 16px" class="text-white-50">Uproxx</p>
              </div>
              <div class="col-lg-2 col-2 mt-1">
                <img
                  style="cursor: pointer"
                  src="Assets/twitter.svg"
                  alt="twt"
                />
              </div>
            </div>
            <div class="row">
              <p class="text-white ms-2">
                “Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is
                Ridiculous.”
              </p>
            </div>
            <div class="row">
              <p class="text-white-50 ms-2">December 24, 2018</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card 3 -->
    </div>
    <!-- END ! Section 5 TOP SCORES -->
    <!-- Start ! Section 6 newsletter -->
    <div class="newsletter">
      <div class="row">
        <div class="col-lg-4 col-4 offset-lg-1 mt-5">
          <img
            class="img-fluid w-75 h-100"
            src="Assets/skull.png"
            alt="skull"
          />
        </div>
        <div class="col-lg-6 col-8">
          <p class="text-white" style="font-size: 18px; margin-top: 20vh">
            Want to stay in <br />
            touch?
          </p>
          <div>
            <h1
              style="
                letter-spacing: 5px;
                font-size: 70px;
                overflow: hidden !important;
              "
              class="lh-1; newsTitle"
            >
              NEWSLETTER <br />
              SUBSCRIBE
            </h1>
            <p class="text-white">
              In order to start receiving our news, all you have to do is enter
              your email address. Everything else will be taken care of by us.
              We will send you emails containing information about game. We
              don’t spam.
            </p>
            <div class="row">
              <div class="col-lg-12">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Your email address here, example : mtharif@binar.co.id"
                    aria-label="Your email address"
                    aria-describedby="button-addon2"
                  />
                  <button
                    style="background-color: #f3af34"
                    class="btn"
                    type="button"
                    id="button-addon2"
                  >
                    Subscribe Now
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container newsCont" style="border-bottom: 1px solid white">
        <div class="row">
          <div class="col-lg-1 offset-lg-1 col-md-1 offset-md-1 col-sm-2 col-4">
            <p class="linkFoot text-white" style="font-size: 12px">MAIN</p>
          </div>
          <div class="col-lg-1 col-md-2 col-sm-2 col-4">
            <p class="linkFoot text-white" style="font-size: 12px">ABOUT</p>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-3 col-4">
            <p class="linkFoot text-white" style="font-size: 12px">
              GAME FEATURES
            </p>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-3 col-4">
            <p class="linkFoot text-white" style="font-size: 12px">
              SYSTEM REQUIREMENTS
            </p>
          </div>
          <div
            class="col-lg-1 col-md-2 col-sm-2 offset-4 offset-md-0 offset-sm-0 col-4"
          >
            <p class="linkFoot text-white" style="font-size: 12px">QUOTES</p>
          </div>
          <div class="col-lg-1 col-md-2 col-3">
            <a class="nav-link" href="#"><i class="bi bi-facebook"></i></a>
          </div>
          <div class="col-lg-1 col-md-2 col-3">
            <a class="nav-link" href="#"><i class="bi bi-twitter"></i></a>
          </div>
          <div class="col-lg-1 col-md-2 col-3">
            <a class="nav-link" href="#"><i class="bi bi-youtube"></i></a>
          </div>
          <div class="col-lg-1 col-md-2 col-3">
            <a class="nav-link" href="#"><i class="bi bi-twitch"></i></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <p class="text-white copy">
              © 2018 Your Games, Inc. All Rights Reserved
            </p>
          </div>
          <div class="col-lg-4 offset-lg-4 col-md-6">
            <p class="text-white policy">
              Privacy Policy | Terms of Services | Code of Conduct
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- END ! Section 6 newsletter -->

    <script src="Assets/Bootstrap/js/script.js"></script>
    <script src="Assets/Bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
