@font-face {
  font-family: "Roboto";
  src: url("../../Font/Roboto-Regular.ttf") format(truetype);
}

@font-face {
  font-family: "Bebas Neue";
  src: url("../../Font/BebasNeue-Regular.ttf") format(truetype);
}

@font-face {
  font-family: "Open Sans";
  src: url("../../Font/OpenSans-Regular.ttf") format(truetype);
}

h1 {
  font-family: "Bebas Neue";
}

h2 {
  font-family: "Bebas Neue";
}

h3 {
  font-family: "Bebas Neue";
}

body {
  font-family: "Open Sans";
  font-size: 18px;
}

p {
  font-family: "Open Sans";
  font-size: 14px;
}

button {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 16px;
}

* {
  overflow-x: hidden;
}

nav.navbar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.nav-items a.nav-link:hover {
  color: #ffb548;
  font-size: 0.9em;
  transition: 1s;
}

.play {
  background: linear-gradient(194.68deg, #ffb548 11.27%, #f3af34 90.4%);
  border-radius: 4px;
  padding-left: 4.5em;
  padding-right: 4.5em;
}

.play:hover {
  border: 1px solid #f3af34;
}

.navbar-brand {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 1.5em;
}
.nav-link {
  color: white;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 0.8em;
}

.main-bg {
  background-image: url("../../main-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

div > h1:first-child {
  font-family: "Bebas Neue";
  color: white;
  font-size: 5.2em;
  font-weight: bold;
}

.main-bg > div > p,
button {
  font-family: "Roboto";
}

.main-bg > div > button {
  font-weight: bold;
}

.icon-story {
  width: 50px;
}

a.story:hover {
  animation: jungkit;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: 1s;
}

.special {
  background-image: url("../../the-games-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  margin-right: 25px;
}
.carousel-control-prev-icon {
  background-image: url("../../switch-left.svg") !important;
}

.carousel-control-next-icon {
  background-image: url("../../switch-right.svg") !important;
}

.spc {
  margin-top: 15vh;
}

.features {
  background-image: url("../../features.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.line {
  width: 5px;
  height: 20vh;
  border-left: 5px solid white;
  margin-left: 6px;
}

.sysreq {
  background-image: url("../../requirements.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.topScores {
  background-image: url("../../top-score-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.newsletter {
  background-image: url("../../newsletter.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.linkFoot {
  cursor: pointer;
}

.bi-facebook:hover {
  color: #4267b2;
}

.bi-twitter:hover {
  color: #1da1f2;
}

.bi-youtube:hover {
  color: #ff0000;
}

.bi-twitch:hover {
  color: #6441a5;
}

@font-face {
  font-family: "Open Sans";
  src: url("../../Font/OpenSans-Regular.ttf") format(truetype);
}

* {
  font-family: "Open Sans";
}

.dark-brown {
  color: #724c21;
}
.light-brown {
  background-color: #9c835f;
}
.yellow {
  color: #f9b23d;
}
.maroon {
  color: #bd0000;
}

.light-green {
  background-color: #4c9654;
}

.dark-green {
  background-color: #035b0c;
}

.light-grey {
  background-color: #c4c4c4;
}

body.gameplays {
  height: 100vh !important;
  box-sizing: border-box;
}

.arrow {
  font-size: 3.5em;
}

.icon {
  width: 50px;
}

.player {
  width: 20vh;
  padding: 20px;
  cursor: pointer;
}

.player:hover {
  background-color: #c4c4c4;
  border-radius: 5px;
}

.comRock,
.comScissors,
.comPaper {
  width: 20vh;
  padding: 20px;
}

.result {
  font-size: 6em;
  color: #bd0000;
  letter-spacing: 3px;
}

.resultPlay {
  color: #fff;
  text-align: center;
  background-color: #4c9654;
  width: 250px;
  border-radius: 15px;
  height: min-content;
  transform: rotate(-20deg) translateX(-70px) translateY(-100px) !important;
  font-size: 3em;
}

.resultDraw {
  color: #fff;
  text-align: center;
  background-color: #035b0c;
  border-radius: 15px;
  width: 250px;
  height: 150px;
  line-height: 150px;
  transform: rotate(-20deg) translateX(-70px) translateY(-100px) !important;
  font-size: 3em;
  margin-bottom: 10px;
}

.active {
  background-color: #c4c4c4;
}

.refresh {
  width: 100px;
  padding: 20px;
  cursor: pointer;
  border-radius: 75%;
}

.refresh:hover {
  background-color: #c4c4c4;
}

.wrapperGame {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* animations */
@keyframes growth {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* responsive */
@media only screen and (max-width: 991px) {
  .resultPlay {
    width: min-content;
    padding: 20px;
    height: max-content;
    font-size: 2em;
  }
  .resultDraw {
    width: min-content;
    height: 100px;
    line-height: 65px;
    padding: 20px;
    font-size: 2em;
  }
}

/* animation */
@keyframes jungkit {
  from {
    margin-bottom: 10px;
  }
  to {
    margin-bottom: 0px;
  }
}

/* responsive */
@media only screen and (min-width: 1200px) {
  .main-text {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1200px) {
  .main-text {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 1036px) {
  .main-text {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-nav {
    text-align: left;
    margin-left: 2vw !important;
    padding: 0 !important;
  }

  .topTitle {
    position: static !important;
    margin-top: 100px;
  }

  .sysTitle {
    font-size: 18px !important;
  }

  .sysTxt {
    font-size: 12px !important;
  }

  .sysreqTitle {
    font-size: 3em !important;
  }

  #navbarSupportedContent > ul.navbar-nav:first-child {
    border-bottom: 0.5px solid white;
  }

  .main-text {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 921px) {
  .main-text {
    font-size: 0.8em;
  }

  .newsCont {
    border-bottom: 0px !important;
  }
}

@media only screen and (max-width: 829px) {
  .main-text {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 768px) {
  .newsTitle {
    font-size: 50px !important;
  }
}

@media only screen and (min-width: 576px) {
}

@media only screen and (max-width: 480px) {
  .sysTitle {
    font-size: 15px !important;
  }

  .sysTxt {
    font-size: 9px !important;
  }

  .sysreqTitle {
    font-size: 1.5em !important;
  }
}

@media only screen and (max-width: 452px) {
  .main-text {
    font-size: 0.6em;
  }

  .play {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 378px) {
  .newsTitle {
    font-size: 30px !important;
  }
}
